<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://media.licdn.com/dms/image/C5612AQFo64bJIdV6tQ/article-cover_image-shrink_600_2000/0/1520140392552?e=2147483647&v=beta&t=EbElyp3olPaCugR3be1QtlfKjfuA2ChmDlr4VjVBc_U" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 20%</h6>
            <h3 class="text-white mb-3">Özel Teklifler</h3>
            <a href="" class="btn btn-primary">Alışverişe Başlayın</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://www.all-answers.ru/wp-content/uploads/2023/03/ja.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 30%</h6>
            <h3 class="text-white mb-3">Günün Fırsatı</h3>
            <a href="" class="btn btn-primary">Hemen Kullanın</a>
        </div>
    </div>
</div>
